# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Environment
.env
.venv
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Docker
*.pid
*.seed
*.pid.lock
cybermisha.tar.gz
