services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 --workers 3 cyberMisha.wsgi:application
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=localhost,127.0.0.1
    restart: unless-stopped

volumes:
  static_volume:
