{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v={{ CSS_VERSION }}">
    <link rel="stylesheet" href="{% static 'main/css/contact.css' %}?v={{ CSS_VERSION }}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            {% include 'main/_header.html' %}
            <main>
                <section>
                    <div class="contact">
                        <h1 class="contact-title">Контактная</br>информация</h1>
                        <div class="contact-line-container">
                            <img src="{% static 'main/img/hero_eclipse.svg' %}" alt="" class="contact-line">
                            <img src="{% static 'main/img/hero_eclipse_background.svg' %}" alt="" class="contact-line-back">
                        </div>
                        <div class="contacts-blocks">
                            <div class="contacts-block">
                                <div class="contact-item">
                                    <div class="contact-item-title">Адрес</div>
                                    <div class="contact-item-description">г.Санкт-Петербург</br>у. Рузовская, дом 5, офис 1</div>
                                </div>
                                <div class="contact-item-line"></div>
                                <div class="contact-item">
                                    <div class="contact-item-title">Адрес</div>
                                    <div class="contact-item-description">г.Санкт-Петербург</br>у. Рузовская, дом 5, офис 1</div>
                                </div>
                                <div class="contact-item-line"></div>
                            </div>
                            <div class="contacts-block">
                                <div class="contact-item">
                                    <div class="contact-item-title">Адрес</div>
                                    <div class="contact-item-description">г.Санкт-Петербург</br>у. Рузовская, дом 5, офис 1</div>
                                </div>
                                <div class="contact-item-line"></div>
                                <div class="contact-item">
                                    <div class="contact-item-title">Адрес</div>
                                    <div class="contact-item-description">г.Санкт-Петербург</br>у. Рузовская, дом 5, офис 1</div>
                                </div>
                                <div class="contact-item-line"></div>
                            </div>
                            <div class="contacts-block contacts-block-max">
                                <div class="contact-item">
                                    <div class="contact-item-title">Тг-канал Кибер-Миша</div>
                                    <div class="contact-item-description">@cybermisha_team</div>
                                </div>
                                <img src="{% static 'main/img/qr.svg' %}" alt="" class="contact-qr">
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    {% include 'main/_two_action_form.html' %}
                </section>
            </main>
                        {% include 'main/_footer.html' %}
        </div>
    </div>
</body>
</html>