.contact {
    margin-top: 66px;
}

.contact-line-container {
    position: relative;
    margin-top: 22px;
    margin-bottom: 34px;
    height: 20px;
}

.contact-line {
    position: absolute;
    width: 100%;
    height: 20px;
    object-fit: cover;
}

.contact-line-back {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-title {
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 55px;
    line-height: 1.2;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}

.contacts-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.contacts-block {
    border-radius: 10px;
    background: #0d102e;
    border: 1px solid #C41AD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 196px;
    gap: 8px;
    padding: 10px 0px;
}

.contacts-block-max {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 422px;
    gap: 2px;
}

.contact-item-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.contact-item-line {
    width: 44px;
    height: 1px;
    background: #ffffff;
}

.contact-item-description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.contact-qr {
    width: 100%;
    max-width: 353px;
}

.contacts-block-max .contact-item-description {
    font-size: 14px;
    line-height: 1;
}

.action-form {
    margin-top: 117px;
}


@media screen and (max-width: 1200px) {
    .contact {
        margin-top: 120px;
    }
}

@media (max-width: 1024px) {
  .contact-title {
    font-size: 42px;
  }
  .contacts-blocks {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .contact-item-title {
    font-size: 22px;
  }
  .contact-item-description {
    font-size: 14px;
  }
  .contacts-block-max .contact-item-description {
    font-size: 13px;
  }
}

/* --- Адаптация для мобильных устройств (до 767px) --- */
@media (max-width: 767px) {
  .contact-title {
    font-size: 32px;
    text-align: center;
  }
  .contacts-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts-block {
    width: 100%;
    height: auto;
    padding: 12px 0px;
    border-radius: 24px;
  }
  .contacts-block-max {
    grid-column: auto;
    grid-row: auto;
    height: auto;
    width: 100%;
    gap: 6px;
  }
  .contact-item-title {
    font-size: 20px;
  }
  .contact-item-description {
    font-size: 13px;
  }
  .contacts-block-max .contact-item-description {
    font-size: 12px;
  }
  .contact-qr {
    max-width: 250px;
  }
  .contact-line-container {
    height: 15px;
  }
  .contact-line, .contact-line-back {
    height: 15px;
  }

.action-form {
    margin-top: 192px;
}
}