.wrapper {
    background: #141625;
    overflow: visible;
    position: relative;
}

main {
    overflow: hidden;
}

.hero {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-back {
    position: absolute;
    top: -870px;
    height: 1453px;
    width: 2633px;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper:has(.header) {
    position: relative;
    z-index: 1000;
}

.hero {
    position: relative;
    z-index: 2;
}

.hero-additional {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.hero-title {
    margin-top: 50px;
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 60px;
    background: 
        linear-gradient(to right, #070ACF 0%, #FFFFFF 60%, #C41AD6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.hero-description {
    margin-top: 36px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    max-width: 520px;
    text-align: center;
}

.hero-but {
    margin-top: 68px;
    width: 100%;
    max-width: 214px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background:
        linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to bottom, #FFFFFF 0%, rgba(7, 10, 207, 0.5) 100%) border-box;
    border-radius: 100px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #141625;
    box-shadow:
        0px -5px 15px 1px rgba(255, 255, 255, 0.25),
        0px -5px 10px 0px rgba(196, 26, 214, 0.5),
        0px 0px 100px 0px rgba(208, 170, 255, 0.5),
        0px 0px 120px 0px rgba(157, 78, 221, 0.3);
}

.additional {
    margin-top: 110px;
}

.additional-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.additional-title:not(:first-child) {
    margin-top: 44px;
}

.additional-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.additional-item {
    border: 1px solid transparent;
    border-radius: 15px;
    background: linear-gradient(#141625, #141625) padding-box, linear-gradient(to bottom, #ffffff, rgba(19, 0, 30, 0)) border-box;
    flex: 1;
    box-shadow:
        0px -4px 10px 1px #C41AD6,
        0px -4px 7px 0px rgba(196, 26, 214, 0.5),
        0px 0px 72px 0px rgba(208, 170, 255, 0.5),
        0px 0px 85px 0px rgba(157, 78, 221, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.additional-item-title {
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 35px;
    letter-spacing: -0.05em;
    color: #ffffff;
}

.additional-item-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: rgba(255, 255, 255, 0.6);
}

.additional-two-item {
    max-width: 286px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.additional-two-item-block-num {
    border: 2px solid transparent;
    border-radius: 15px;
    background: linear-gradient(#141625, #141625) padding-box, linear-gradient(to bottom, #ffffff, rgba(19, 0, 30, 0)) border-box;
    box-shadow:
        0px -4px 10px 1px #C41AD6,
        0px -4px 7px 0px rgba(196, 26, 214, 0.5),
        0px 0px 72px 0px rgba(208, 170, 255, 0.5),
        0px 0px 85px 0px rgba(157, 78, 221, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
}

.additional-two-item-num {
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.011em;
    color: #ffffff;
}

.additional-two-item-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.maps {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.maps-title {
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.maps-container {
    display: flex;
    flex: 1;
}

.maps-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative;
    z-index: 2;
}

.maps-container-title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.maps-container-title span {
    font-weight: 700;
}

.maps-container-text-item-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.maps-container-text-item-block-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #ffffff;
}

ul, li {
    margin: 0;
}

.maps-container-text-item-block-text, .maps-container-text-item-block li {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.maps-container-text-item-block-title-top {
    margin-top: 50px;
}

.maps-container-img {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.maps-card {
    width: 590px;
    width: 100%;
    height: 370px;
    position: relative;
    margin-top: 20px;
}

.maps-card-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.maps-container-text-item-block-items {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.maps-container-text-item-block-items div {
    display: flex;
    gap: 20px;
}

.maps-container-item-block-img {
    flex: 1;
    height: 90px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.04), rgba(7, 10, 207, 0.2));
    border: 1px solid #ffffff;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0px 0px 5px 1px rgba(255, 255, 255, 0.25),
        0px 0px 5px 0px rgba(255, 255, 255, 0.5),
        0px 0px 5px 0px rgba(255, 255, 255, 0.4),
        0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

.steps {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.steps-title {
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: -0.011em;
    color: #ffffff;
    display: inline-block;
    max-width: 785px;
}

.steps-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 52px;
    column-gap: 20px;
}

.step-item {
    border: 1px solid transparent;
    border-radius: 24px;
    background:
        linear-gradient(#141625, #141625) padding-box,
        linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(20, 27, 37, 1)) border-box;
    padding-top: 53px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 386px;
    width: 100%;
    min-width: 308px;
    height: 204px;
}

.step-item-num {
    width: 66px;
    height: 66px;
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        linear-gradient(#141625, #141625) padding-box,
        linear-gradient(to bottom, #ffffff, rgba(19, 0, 30, 0.5)) border-box;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.011em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow:
        0px -5px 15px 1px rgba(255, 255, 255, 0.25),
        0px -5px 10px 0px rgba(196, 26, 214, 0.5),
        0px 0px 100px 0px rgba(208, 170, 255, 0.5),
        0px 0px 120px 0px rgba(157, 78, 221, 0.3);
}

.step-item-title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F4F0FF;
}

.step-item-description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(239, 237, 253, 0.7);
}

.step-item-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 386px;
    width: 100%;
    min-width: 308px;
    height: 204px;
}

.step-item-but {
    margin-top: 8px;
    width: 284px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 100px;
    background:
        linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to bottom, #ffffff, rgba(7, 10, 207, 0.5)) border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #141625;
    box-shadow:
        0px -5px 15px 1px rgba(255, 255, 255, 0.25),
        0px -5px 10px 0px rgba(196, 26, 214, 0.5),
        0px 0px 100px 0px rgba(208, 170, 255, 0.5),
        0px 0px 120px 0px rgba(157, 78, 221, 0.3);
}

.step-description {
    margin-top: 40px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #F4F0FF;
    text-align: center;
    display: inline-block;
    max-width: 820px;
    align-self: center;
}

.step-description span {
    font-weight: 700;
}

.structure {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.structure-title {
    font-family: 'Seenonim';
    font-weight: 400;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: -0.011em;
    color: #ffffff;
}
.structure-diagram {
    width: 590px;
    width: 100%;
    height: 370px;
    position: relative;
    margin-top: 20px;
}

.structure-diagram-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.structure-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.structure-item {
    border: 1px solid transparent;
    border-radius: 16px;

    background: linear-gradient(270deg, rgba(255, 255, 255, 0.04), rgba(7, 10, 207, 0.2));
    border: 1px solid #ffffff;

    box-shadow:
        0px 0px 5px 1px rgba(255, 255, 255, 0.25),
        0px 0px 5px 0px rgba(255, 255, 255, 0.5),
        0px 0px 5px 0px rgba(255, 255, 255, 0.4),
        0px 0px 10px 0px rgba(255, 255, 255, 0.5);

    padding: 40px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 386px;
    width: 100%;
    min-width: 308px;
}

.structure-item-title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F4F0FF;
}

.structure-item-description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(239, 237, 253, 0.7);
}

.analysis-block {
    margin-top: 120px;
    width: 100%;
    padding: 60px;
    background: #141625;
    border-radius: 36px;
    position: relative;
    overflow: hidden;

    border: 1px solid transparent;
    background:
        linear-gradient(#141625, #141625) padding-box,
        linear-gradient(135deg, rgba(255,0,255,0.4), rgba(80,0,255,0.4)) border-box;

    box-shadow:
        0 0 40px rgba(220, 110, 255, 0.25),
        0 0 120px rgba(120, 80, 255, 0.25);
}

.analysis-title {
    text-align: center;
    font-family: 'Seenonim';
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 50px;
}

.analysis-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.analysis-left {
    width: 55%;
}

.analysis-subtitle {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.analysis-goal {
    color: rgba(239, 237, 253, 0.8);
    font-family: 'Inter';
    font-size: 17px;
    margin-bottom: 40px;
}

.analysis-item {
    display: flex;
    gap: 16px;
    padding: 28px 50px 30px 15px;
    margin-bottom: 22px;

    border-radius: 20px;
    border: 1px solid transparent;

    background:
        linear-gradient(#141625, #141625) padding-box,
        linear-gradient(to bottom right,
            rgba(255, 255, 255, 0.4),
            rgba(50, 0, 80, 0.4)
        ) border-box;

    box-shadow:
        0 0 30px rgba(180, 80, 255, 0.2),
        0 0 60px rgba(120, 60, 255, 0.2);
}

.analysis-checkbox {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background: #ffffff;
}

.analysis-texts {
    flex: 1;
}

.analysis-item-title {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    color: #F4F0FF;
    margin-bottom: 20px;
}

.analysis-item-desc {
    font-family: 'Inter';
    font-size: 16px;
    color: rgba(239, 237, 253, 0.7);
}

.analysis-right {
    width: 40%;
}

.analysis-flow {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
}

.analysis-flow p {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    color: #c88cff;
    text-transform: uppercase;
    text-align: center;
}

.flow-arrow {
    text-align: center;
    color: rgba(255,255,255,0.8);
}

.analysis-results {
    font-family: 'Inter';
    font-size: 16px;
    color: rgba(239, 237, 253, 0.8);
    line-height: 26px;
}

.analysis-results li {
    margin-bottom: 8px;
}

.analysis-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.analysis-left .analysis-subtitle {
    text-align: start;
}












/* === Адаптация под большие планшеты (до 1200px) === */
@media (max-width: 1200px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .hero-block-max {
        max-width: 90%;
    }

    .hero-title {
        font-size: 48px;
    }

    .hero-description {
        font-size: 22px;
    }

    .hero-block-img {
        left: 0;
        max-width: 100%;
    }
}


/* === Адаптация под планшеты (до 992px) === */
@media (max-width: 992px) {
    .hero-title {
        font-size: 42px;
    }

    .hero-description {
        font-size: 20px;
    }

    .hero-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .hero-list-item {
        height: 200px;
        min-width: 140px;
    }

    .hero-list-item-title {
        margin-top: 70px;
        font-size: 18px;
    }

    .hero-but {
        width: 210px;
        height: 60px;
        font-size: 18px;
    }
}


/* === Адаптация под мобильные (до 768px) === */
@media (max-width: 768px) {
    .hero {
        padding-top: 20px;
    }

    .hero-title {
        font-size: 34px;
        line-height: 1.2;
    }

    .hero-description {
        font-size: 18px;
    }

    .hero-block-img {
        top: -10px;
        left: 0;
        width: 120%;
    }

    .hero-list-item {
        height: 180px;
        min-width: 120px;
    }

    .hero-list-item-title {
        font-size: 16px;
        margin-top: 60px;
    }

    .hero-but {
        width: 190px;
        height: 56px;
        font-size: 17px;
    }
}


/* === Маленькие мобильные (до 480px) === */
@media (max-width: 480px) {
    .hero-title {
        font-size: 28px;
    }

    .hero-description {
        font-size: 16px;
    }

    .hero-block-img {
        width: 140%;
    }

    .hero-list-item {
        height: 160px;
        min-width: 110px;
    }

    .hero-but {
        width: 170px;
        height: 52px;
        font-size: 16px;
    }
}